<div class="container p-3 my-3 border">
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <p>Please use the following page to create a question. <a href="/create/">Create Question</a></p>
    <p>Please use the following page to list the QNA grouped by email. <a href="/admin/dashboard/">Results
            Page</a></p>
</div>